<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<div class="container">
			<div class="container body-content">
				<h1><span class="fa fa-sign-in"></span> Login</h1>
				<hr/>
				<!-- show any messages that come back with authentication -->
				<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>
				<div class="col-lg-4">
					<div class="form-horizontal">
						<!-- LOGIN FORM -->
						<form action="/Account/Login" method="post">
							<input type="hidden" name="_csrf" value= "<%= token %>" />
							<div class="form-group">
								<label>Email</label>
								<input type="text" class="form-control" name="email">
							</div>
							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control" name="password">
							</div>
							<div class="form-group">
								<div class="checkbox">
									<input type="checkbox" name="rememberme"/>
									<label>Remember me</label>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-warning">Login</button>
							</div>
							<div class="form-group">
								<p>Need an account? <a href="/Account/Register">Signup</a></p>
								<p>Or go <a href="/">home</a>.</p>
							</div>
						</form>
						
					</div>
				</div>
				<div class="col-lg-4">
				</div>
				<div class="col-lg-4">
					<div class="form-horizontal">
						<form action="/Account/Login/Facebook" method="post">
							<div class="form-group ">
								<h4>Log in with external provider</h4>
								<input type="hidden" name="_csrf" value= "<%= token %>" />
								<button type="submit" class="btn btn-warning">Facebook</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>