<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			
			<%  if(locals.isAuthenticated){ %>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/Account/Manage">Hello! <%= username %></a></li>
				<li><a href="/Account/Logout">Logout</a></li>
			</ul>
			<div class="jumbotron">
				<h2>Welcome to <%= title %></h2>
			</div>
			<h4> You have successfully logged in </h4>
			<% } else { %>
			<div class="jumbotron">
				<h2>Welcome to <%= title %></h2>
			</div>
			<div class="form-group">
				<h4>Login in to the application to access inventory</h4>
			</div>
			<div class="form-group">
				<a href="/Account/Login" class="btn btn-warning btn-lg">Login</a>
			</div>
			<div class="row"></div>
			<div class="form-group">
				<a href="/Account/Register" class="btn btn-warning btn-lg">Register</a>
			</div>
			<% } %>
		</div>
	</body>
</html>